.homepage {
    background: #2e9fff;
    position: relative;
    overflow: hidden;
    margin-top: 0;
    max-width: none;
    padding-top: 48px
}

.homepage-section-content {

    position: relative
}


.homepage-section-headline {

    font-size: 50px;
    line-height: 1.2em;
    padding-right: 20px;
}

.homepage-section-description {

    margin-top: 15px;
    margin-right: 15px;
    line-height: 20px
}

.homepage-spacing {

    margin-top: 30px;
    margin-right: 30px
}

.first-page {

    background-color: #fff !important;
}

.first-page #main-footer {

    margin-top: 70px !important;
}

.first-page #site-header {

    width: 100%!important;
    z-index: 100!important;
    position: fixed!important;
}

.homepage-section-1 {

    background-color: #2e9fff;
    color: #fff;
    padding: 100px 0 70px;
    float: left;
    width: 75%;
    width: calc(100% - 500px);
    position: relative;
}

@media only screen and (max-width:1024px) {

    .homepage-section-1 {

        width: 100%;
        height: auto;
        padding: 50px 15px
    }
}

@media only screen and (max-width:480px) {

    .homepage-section-1 .homepage-section-headline {

        font-size: 33px
    }
}


.homepage:after, .homepage:before, .homepage-section-1, .homepage-section-2 {

    background-image: url(/img/index_bg.png);
    background-size: cover;
}


.homepage-section-2 {

    background-color: #494e58;
    color: #fff;
    padding: 100px 0 70px 50px;
    /*float: left;*/
    /*width: 450px;*/
    /*height: 100%;*/
    position: relative
}

@media only screen and (max-width:1024px) {

    .homepage-section-2 {

        width: 100%;
        padding: 40px 15px
    }

    .homepage-section-2 .homepage-section-headline {

        font-size: 30px;
        margin: 5px 0;
        max-width: none
    }

    .homepage-section-1 .homepage-section-headline {

        font-size: 30px;
        margin: 5px 0;
        max-width: none
    }

    .homepage-section-2 .homepage-cta {

        float: right;
    }
}

@media only screen and (max-width:768px) {

    .homepage-section-2 {

        padding: 44px 15px
    }

    .homepage-section-2 .homepage-section-headline {

        font-size: 24px;
        margin-right: 15px;
    }
}

@media only screen and (max-width:480px) {

    .homepage-section-2 {

        padding: 29px 15px
    }

    .homepage-section-2 .homepage-section-headline {

        font-size: 18px;
        margin: 0;
    }

    .homepage-section-1 .homepage-section-headline {

        font-size: 18px;
        margin: 0;
    }
}
